.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats
data/futures/bybit/
data/parquet/

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
venv/
.venv/

# libreoffice
.~lock.*
pysystemtrade.code-workspace
